@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #191A1C;
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto';
  font-weight: 200;
}

* h1 {
  font-family: 'Amatic SC';
  font-size: 4vh;
  color: #AFAFAF;
  letter-spacing: 2vw;
  font-weight: 700;
  text-shadow: 1px 1px 1px #9B1B31;
}

* h2 {
  font-family: 'Oswald';
  font-weight: 300;
  color: #404040;
  letter-spacing: 1.55vw;
  text-align: center;
  font: size 0,7vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: rgba(155, 27, 49, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: #9B1B31;
}

.navigation .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #404040;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 60px;
}

.navigation .contents {
  padding: 20px 40% 0 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .contents #about_hover:hover {
  color: #191A1C;
}

.navigation .contents #crab_hover:hover {
  color: #9B1B31;
}

.navigation .contents #blob_hover:hover {
  color: #7BC4C4;
}

.navigation .contents #jelly_hover:hover {
  color: #F0BF59;
}

.navigation .contents #shark_hover:hover {
  color: #5A5CA0;
}

.navigation .contents #dumbo_hover:hover {
  color: #CC3366;
}

.navigation .sidenav a {
  padding: 40px 0 40px 0;
  text-align: left;
  font-family: 'Amatic SC';
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 10px;
  color: #AFAFAF;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation .sidenav .closebtn {
  position: absolute;
  top: -35px;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

.navigation #main {
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.navigation #menu-toggle {
  width: 53px;
  height: 39px;
  margin: 30px 0 0 30px;
  position: -webkit-sticky;
  position: fixed;
  cursor: pointer;
  top: 30px;
}

.navigation #menu-toggle * {
  -webkit-transition: .25 ease-in-out;
  transition: .25 ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation #wave {
  width: 54px;
  height: 40px;
}

.main .dive_deeper {
  text-align: center;
  color: #404040;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: 500;
  font: size 20px;
  padding-top: 92px;
}

.main section {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .btn_down {
  margin-top: -25px;
  font-size: 8vh;
  text-align: center;
  color: rgba(155, 27, 49, 0.6);
}

.main .btn_down :hover {
  color: #404040;
}

.main .sea_animals #japanese_crab {
  position: absolute;
  z-index: 1;
  top: 80vh;
  left: 10vw;
  width: 40vw;
}

.main .sea_animals #blub_fish {
  position: absolute;
  width: 10vw;
  z-index: 1;
  right: 0;
  top: 125vh;
}

.main .sea_animals #cosmic_jelly {
  position: absolute;
  width: 40vw;
  z-index: 1;
  left: 18vw;
  top: 180vh;
}

.main .sea_animals #goblin_shark {
  position: absolute;
  width: 50vw;
  z-index: 1;
  right: 0;
  top: 240vh;
}

.main .sea_animals #dumbo {
  position: absolute;
  width: 18vw;
  top: 290vh;
  left: 10vw;
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
  z-index: 1;
}

footer {
  margin-top: 240vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #404040;
  position: absolute;
  left: 0;
  height: 250px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #191A1C;
}

footer .logo_footer {
  width: 20vw;
  margin-top: 3vh;
  font-family: 'Oswald';
  font-size: 1.7vh;
  letter-spacing: 0.1vw;
}

footer .logo_footer #blacklogo {
  width: 150px;
}

footer .logo_footer .address {
  font-size: 12px;
  font-weight: 400;
}

footer .creators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20vw;
  margin-top: 3vh;
}

footer .creators .creator_names {
  font-family: 'Oswald';
  letter-spacing: 0.3vw;
  font-weight: 400;
}

footer .creators .creator_accounts {
  font-family: 'Oswald';
  margin-top: -2vh;
  font-size: 1.2vh;
  letter-spacing: 0.1vw;
  font-weight: 400;
  padding-right: 5px;
}

/* @media screen and (max-width: 700px){
*/
.animal_name {
  text-align: center;
  position: relative;
}

#logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 2vh;
  padding-top: 40px;
  position: absolute;
  z-index: 1;
  top: 0vh;
  left: 45%;
  margin-bottom: 2vh;
}

.info {
  position: absolute;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info p {
  color: #AFAFAF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 10vh 50% 0 5vw;
}

@media screen and (max-width: 800px) {
  .info p {
    padding-right: 5vw;
  }
}

#japanese_crab_page {
  position: relative;
  z-index: 1;
  padding-top: 5%;
  left: 25%;
  width: 50vw;
}

#blob_fish_page {
  position: relative;
  z-index: 1;
  padding-top: 5%;
  left: 25%;
  width: 50vw;
}

#cosmicjelly_page {
  position: relative;
  z-index: 1;
  padding-top: 5%;
  left: 25%;
  width: 50vw;
}

#goblinskark_page {
  position: relative;
  z-index: 1;
  padding-top: 5%;
  left: 25%;
  width: 50vw;
}

#dumbo_octapus_page {
  position: relative;
  z-index: 1;
  padding-top: 5%;
  left: 25%;
  width: 40vw;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15%;
}

.team #memb {
  height: 200px;
  padding: 20px 20px;
}

/* ---- particles.js container ---- */
canvas {
  vertical-align: bottom;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -10;
  top: 0;
}
/*# sourceMappingURL=style.css.map */