@function colors ($color-name, $color-variant) {
    @return map-get(map-get($color, $color-name), $color-variant);
}

$color: (
    primary: (
        base:#191A1C,
        light:#404040,
        text:#AFAFAF

    ),
    secondary: (
    redd: #9B1B31,
    pinkk:#CC3366,
    teall:#7BC4C4,
    bluee:#5A5CA0,
    yelloww:#F0BF59
    )
);
*{
    background-color: colors(primary, base);
}
